@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #fbeaeb;
  position: relative;
  background: linear-gradient(to right, #2f3c7e, #fbeaeb);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.button-container {
  width: 420px;
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
}

.artist {
  background-color: #2f3c7e;
  color: #fff;
  padding: 14px 24px;
  border: 2px #fff solid;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all linear;
}

.artist:hover {
  background-color: #fbeaeb;
  border: 2px #2f3c7e solid;
  color: #2f3c7e;
}

#modal {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 2;
  padding: 40px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

#modal-message {
  color: #2f3c7e;
  font-weight: 600;
  font-size: 20px;
}

.hidden {
  display: none;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.311);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
